body {
    height: 100%;
    margin: 0;
    font-family: 'Walter Turncoat', cursive;

}

.container_header {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgba(0, 0, 0, 0.8);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    color: white;
    float: left;
    text-decoration: none;
    font-size: 30px;
}

.logo:hover {
    color: orange;
}

nav {
    float: right;
}

ul {
    line-height: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: normal;
}

nav ul li a:hover {
    color: orange;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
}

main {
    height: 700px;
    width: 100%;
    background-color: blue;
}

.bg_image {
    height: 100%;
    width: 100%;
}

footer {
    background-color: green;
}