body {
    height: 100%;
    margin: 0;
    font-family: 'Walter Turncoat', cursive;
}

.container_header {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgba(0, 0, 0, 0.8);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.home_container {
    height: 100%;
    width: 100%;
    /* background-image: url("../images/sausalito.jpg"); */
    /* background-attachment: fixed; */
    /* background-image: repeat-x; */
}


.logo {
    color: white;
    float: left;
    text-decoration: none;
    font-size: 30px;
}

.logo:hover {
    color: orange;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding-top: 20px;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: orange;
}

main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.bg_image {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 680px;
    width: 100%;
}

.dansAvatar {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 60px;
    opacity: 0.3;
    border-radius: 50%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    opacity: 0.3;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: rgba(255, 255, 255, 0.418);

}

.copyright {
    /* text-align: center;
    color: rgba(255, 255, 255, 0.418); */
}

.blog_container {
    height: 1600px;
    width: 100%;
    background-image: url("../images/wrinkled-paper-texture_1100-12.jpg");
    background-attachment: fixed;
    background-image: repeat-x;
}


.blog_box_1 {
    margin-right: 40%;
    margin-bottom: 5%;
    position: absolute;
    top: 20%;
    left: 2%;
    font-size: 30px;
    opacity: 0.8;
    background: black;
    color: white;
}

.blog_box_1 h3 {
    margin: 0;
    padding: 0 2%;
    font-size: 35px;
    opacity: 0.8;
    background: black;
    color: white;
}


.blog_box_1 h5 {
    margin: 0;
    padding: 0 2%;
    font-size: 15px;
    opacity: 0.8;
    background: black;
    color: white;
}

.blog_article_1 {
    font-size: 20px;
    opacity: 0.8;
    background: black;
    color: white;
    padding: 0 2%;
}

.placeholder_image {
    margin: 1% 3%;
    padding: 0 2%;
}

.aside_box_1 {
    height: 400px;
    width: 400px;
    background-color: black;
    color: white;
    float: right;
    margin-right: 0%;
    position: absolute;
    top: 20%;
    right: 2%;
    font-size: 30px;
    opacity: 0.8;
}

.resume_container {
    text-align: center;
    width: 100%;
    background: url(../images/walnut.jpeg);
}
.resume {
    margin-top: 3%;
    margin-bottom: 6%;    
    display: inline-block;
    border-style: hidden;
    border-width: 20px;
    border-color: rgb(214, 161, 100);
}

.contact_container {
    background-color: gray;
}